/* **************************** */
/* FORMS */
/* **************************** */

.formulario__form 
{
    display: flex;
    flex-direction: row;

}

.form__input
{

    @include input-format(37px,black,  0px, $color-fondo,  $color-texto-base, $font-primary, $color-placeholder, 10px, 0.5rem, 10px, 20px );
}


.form__button
{
    @include boton-format($color-texto-boton-enviar, $color-fondo-boton-enviar, black, 0px, 25px, 10px);
    margin-left: -50px;

}
