header.header
    ul.header__ul-header
        li.ul-header__logo
            h1.logo__titulo LOGOTIPO
        li.ul-header__navegacion
            block header
                
        li.ul-header__comprar
            a(class="comprar__link", href="comprar.html") 
                button.link__button
                    | Comprar ya