extends ../templates/_template.pug


//- bloque de variableslocales
block variableslocales
    //- variable nos sirve para pasar como parametro en lso mixins
    //- asi los mixins saben que pagina se los envia
    -let currentpage = "index"


//- Si queremos realizar seo pagina especifica
//- sobreescribe el seo general
//- block seo
//-     +generarseocompleto(currentpage)


//- Si queremos un titulo especificico para una pagina
//- sobreescribe el titulo general
//- block title
//-     +showtitulo(currentpage)

block header
    nav.navegacion__navegacion-header
        if currentpage == "index"
            a(class="navegacion-header__link alineacion-centro seleccionado", href="#") Inicio
        else
            a(class="navegacion-header__link alineacion-centro", href="index.html") Inicio

        |
        if currentpage == "productos"
            a(class="navegacion-header__link alineacion-centro seleccionado", href="#") Productos
        else
            a(class="navegacion-header__link alineacion-centro", href="productos.html") Productos
        |

        if currentpage == "servicios"
            a(class="navegacion-header__link alineacion-centro seleccionado", href="#") Servicios
        else
            a(class="navegacion-header__link alineacion-centro", href="servicios.html") Servicios




block main
    section.main__banner
        article.banner__contenido
            section.contenido__texto
                h1.elemento__titulo Nueva Cámara, con Nueva Lente
                p.elemento__parrafo Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis sapien ac eget orci lectus a. Tellus integer accumsan aliquet arcu cras tristique. Semper proin porta adipiscing faucibus. Eu scelerisque ornare nunc, venenatis fringilla tincidunt consectetur.
                |
                |
                a(class="elemento__link-banner", href="leermas.html")
                    button.link-banner__boton Leer mas
            section.contenido__imagen
                +picture("camara_canon.jpg",  "camara canon",  "imagen__picture")


    section.main__parrafos
        ul.main__parrafos__listado-parrafos
            li.listado-parrafos__parrafo-uno
                ul.parrafo-uno__listado-parrafos
                    li.listado-parrafos__elemento-texto-izq-arriba.centrado
                        h3.negrita Opcion 1
                        p.formato-parrafo Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, sunt!
                    |
                    li.listado-parrafos__elemento-imagen.centrado
                        +picture("camara_canon_frontal.jpg",  "camara canon",  "imagen__picturen-frontal")
                    |
                    li.listado-parrafos__elemento-texto-der-arriba.centrado
                        h3.negrita Opcion 3
                        p.formato-parrafo Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, sunt!
                    |
                    li.listado-parrafos__elemento-texto-izq-abajo.centrado
                        h3.negrita Opcion 2
                        p.formato-parrafo Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, sunt!
                    |
                    li.listado-parrafos__elemento-texto-der-abajo.centrado
                        h3.negrita Opcion 4
                        p.formato-parrafo Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, sunt!
            li.listado-parrafos__parrafo-dos
                figure.parrafo-dos__figure
                    +picture("camara_canon_lentes.jpg",  "camara canon",  "figure__lentes")
                    figcaption.figure__texto
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictumst proin augue habitant nibh condimentum. Mi imperdiet enim aliquam enim proin tellus, fringilla et et. Ultrices lobortis in risus suspendisse eget rhoncus, mauris, lobortis. In tincidunt bibendum at in cursus. Eleifend faucibus turpis quis justo amet maecenas quis. Suscipit nibh sem est at. A lectus euismod metus, pretium id.
                        p Leo ac elementum diam eget massa consectetur. Adipiscing maecenas sit gravida tincidunt posuere aenean semper auctor. Placerat sit quam mattis integer amet cursus. Turpis non magna risus libero, volutpat, et. Tortor elementum magna odio nulla. Id fermentum sapien eu nunc tristique id. Egestas purus venenatis interdum odio est ipsum faucibus maecenas. Ultricies sit erat ac nunc velit. Etiam neque blandit pharetra orci sed amet. Ultricies nec, vulputate suspendisse auctor risus massa vel, viverra pulvinar. Malesuada dignissim feugiat morbi sit dolor urna.
                        p A et ipsum sollicitudin phasellus ultricies. Suscipit et et platea eget in faucibus. Vitae amet, malesuada erat praesent. Enim, lacinia enim placerat mi morbi dui sapien eget. Sapien convallis sed quis amet tellus in sed quam id.